<!-- templates/index.html -->

{% extends "base_with_background.html" %}

{% block content %}
<div class="scripture-container">
  <div class="scripture-section">
    <div class="scripture-text title is-4 text-colour">
      {%- for verse in data["verses"] -%}
      {% if verse["translation"]["pu"]["bdb"]["unicode"] %}
      <div>{{ verse["translation"]["pu"]["bdb"]["unicode"] }}</div>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
  <div class="scripture-section">
    <div class="scripture-text title is-4 text-colour">
      {%- for verse in data["verses"] -%}
      <div>{{ verse["verse"]["unicode"] }}</div>
      {%- endfor -%}
    </div>
  </div>
  <div class="scripture-section">
    <div class="scripture-text title is-4 text-colour">
      {%- for verse in data["verses"] -%}
      {% if verse["translation"]["en"]["bdb"] %}
      <div>{{ verse["translation"]["en"]["bdb"] }}</div>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
{% endblock %}